<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client REST API</title>
  </head>
  <body>
    <main id="app">
      <div v-for="article in articles">
        <div>title :{{ article.title }}</div>
        <div>slug :{{ article.slug }}</div>
        <div>published on :{{ article.published }}</div>
        <div>subject :{{ article.subject }}</div>
        <div>author :{{ article.author }}</div>
        <div>content :{{ article.content }}</div>
        <hr />
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>

    <script>
      let app = new Vue({
        el: "#app",
        data() {
          return {
            articles: [],
          };
        },

        created() {
          this.fetchArticle();
        },

        methods: {
          async fetchArticle() {
            let response = await axios.get(
              "http://localhost:8000/api/articles"
            );
            this.articles = response.data.questions;
          },
        },
      });
    </script>
  </body>
</html>
